[run]
source = py/redrock
omit =
   py/redrock/_version.py
   py/redrock/conftest*
   py/redrock/cython_version*
   py/redrock/setup_package*
   py/redrock/*/setup_package*
   py/redrock/*/*/setup_package*
   py/redrock/sphinx/*
   py/redrock/test/*
   py/redrock/*/test/*
   py/redrock/*/*/test/*

[report]
exclude_lines =
   # Have to re-enable the standard pragma
   pragma: no cover

   # Don't complain about packages we have installed
   except ImportError

   # Don't complain if tests don't hit assertions
   raise AssertionError
   raise NotImplementedError

   # Don't complain about script hooks
   ### def main\(.*\):
