numpy
astropy
scipy
h5py
numba
fitsio

# Install desiutil separately since it is needed for the other installs.
# git+https://github.com/desihub/desiutil.git@3.1.0#egg=desiutil

git+https://github.com/desihub/desispec.git@0.51.13#egg=desispec
