# Workflow is based on the Astropy GitHub actions workflow, ci_workflows.yml
name: CI

on:
    push:
        branches:
            - '*'
        tags:
            - '*'
    pull_request:

# 2025-01-07
# NERSC has Python 3.10, Numpy 1.22.4, Scipy 1.8.1, matplotlib 3.8.4, astropy 6.0.1, healpy 1.16.6, PyYAML 6.0.1
# PyPI has Python 3.13, Numpy 2.2.1, Scipy 1.15.0, matplotlib 3.10.0, astropy 7.0.0, healpy 1.18.0, PyYAML 6.0.2
# Numpy 1.26.4 was the last pre-2.0 Numpy.
#
jobs:
    tests:
        name: Unit tests
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: true
            matrix:
                include:
                    # Numba forces NumPy < 2.3
                    - os: ubuntu-latest
                      python-version: '3.13'
                      numpy-version: '<2.3'
                      scipy-version: '<1.17'
                      astropy-version: '<8'
                      numba-version: '<0.70'
                    - os: ubuntu-latest
                      python-version: '3.12'
                      numpy-version: '<2.2'
                      scipy-version: '<1.16'
                      astropy-version: '<7.1'
                      numba-version: '<0.61'
                    - os: ubuntu-latest
                      python-version: '3.11'
                      numpy-version: '<2.1'
                      scipy-version: '<1.15'
                      astropy-version: '<7'
                      numba-version: '<0.61'
                    # Similar to NERSC but with last NumPy < 2.
                    - os: ubuntu-latest
                      python-version: '3.10'
                      numpy-version: '<2'
                      scipy-version: '<1.12'
                      astropy-version: '<6.1'
                      numba-version: '<0.60'


        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                python-version: ${{ matrix.python-version }}
            - name: Install Python dependencies
              run: |
                python -m pip install --upgrade pip setuptools wheel pytest
                python -m pip install "numpy${{ matrix.numpy-version}}" "scipy${{ matrix.scipy-version }}" "astropy${{ matrix.astropy-version }}" "numba${{ matrix.numba-version }}"
                python -m pip install h5py
                python -m pip cache remove fitsio
                python -m pip install --no-deps --force-reinstall --ignore-installed fitsio
            - name: Install DESI dependencies
              env:
                DESISPEC_VERSION: 0.69.0
              run: |
                python -m pip install desiutil
                python -m pip install git+https://github.com/desihub/desispec.git@${DESISPEC_VERSION}#egg=desispec
            - name: Install Redrock template data
              env:
                RR_TEMPLATE_VER: 0.7.2
              run: PYTHONPATH=$(pwd)/py:$PYTHONPATH PATH=$(pwd)/bin:$PATH install_redrock_templates -v ${RR_TEMPLATE_VER}
            - name: Run the test
              run: pytest

    # This test is deliberately set to be as similar to NERSC as possible.
    coverage:
        name: Test coverage
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: true
            matrix:
                os: [ubuntu-latest]
                python-version: ['3.10']

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                python-version: ${{ matrix.python-version }}
            - name: Install Python dependencies
              run: |
                python -m pip install --upgrade pip setuptools wheel pytest pytest-cov coveralls
                python -m pip install numpy\<1.23 scipy\<1.9 astropy\<6.1 numba\<0.60
                python -m pip install h5py
                python -m pip cache remove fitsio
                python -m pip install --no-deps --force-reinstall --ignore-installed fitsio
            - name: Install DESI dependencies
              env:
                DESISPEC_VERSION: 0.69.0
              run: |
                python -m pip install desiutil
                python -m pip install git+https://github.com/desihub/desispec.git@${DESISPEC_VERSION}#egg=desispec
            - name: Install Redrock template data
              env:
                RR_TEMPLATE_VER: 0.7.2
              run: PYTHONPATH=$(pwd)/py:$PYTHONPATH PATH=$(pwd)/bin:$PATH install_redrock_templates -v ${RR_TEMPLATE_VER}
            - name: Run the test with coverage
              run: pytest --cov
            - name: Coveralls
              env:
                COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: coveralls

    docs:
        name: Doc test
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                python-version: ['3.10']

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                python-version: ${{ matrix.python-version }}
            - name: Install Python dependencies
              run: python -m pip install --upgrade pip setuptools wheel Sphinx sphinx-rtd-theme
            - name: Test the documentation
              run: sphinx-build -W --keep-going -b html doc doc/_build/html

    style:
        name: Style check
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                python-version: ['3.10']

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                python-version: ${{ matrix.python-version }}
            - name: Install Python dependencies
              run: python -m pip install --upgrade pip setuptools wheel pycodestyle
            - name: Test the style; failures are allowed
              # This is equivalent to an allowed falure.
              continue-on-error: true
              run: pycodestyle --count --statistics py/redrock
